/*    
    \version 3.9.1
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
/**************************************************/
/* These are all for the table display shortcode. */
/**************************************************/

/************************************************************/
/*      The list (ul) at the top, with the weekdays.        */
/************************************************************/
/************************************************************/
/*                      Most tabs                           */
/************************************************************/
div.bmlt_table_display_div_theme_GNYR2 img
{
    border:none;
    background-color:transparent;
    padding:0;
    margin:0;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_weekday_list li
{
    background-color:#0C71C3;
    color:white;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_weekday_list li,
div.bmlt_table_display_div_theme_GNYR2 .bmlt_table_header_weekday_list li span.bmlt_table_weekday_span
{
    border-color: white;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_weekday_list li.bmlt_table_mouseover
{
    color: #fc5;
}

/************************************************************/
/*          The selected tab reverses the colors.           */
/************************************************************/
div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_weekday_list li.is_selected
{
    background-color:white;
    border-color: #0C71C3;
    color:#0C71C3;
}

/************************************************************/
/*                      The data table                      */
/************************************************************/
/************************************************************/
/*                      The table header                    */
/************************************************************/
div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul,
div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li
{
    border-color: white;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li
{
    background-color:#0C71C3;
    border-color: white;
    color:white;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li.bmlt_table_header_li span.bmlt_table_mouseover
{
    color: #fc5;
}

/************************************************************/
/*           Selected Element Sort Direction Image          */
/************************************************************/
div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li.bmlt_table_header_li span.bmlt_table_header_selected.bmlt_table_header_selected_sort_direction_asc
{
    background-image:url("##-IMAGEDIR-##TableSortAsc.gif");
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li.bmlt_table_header_li span.bmlt_table_header_selected.bmlt_table_header_selected_sort_direction_asc.bmlt_table_mouseover
{
    background-image:url("##-IMAGEDIR-##TableSortAsc_mouseover.gif");
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li.bmlt_table_header_li span.bmlt_table_header_selected.bmlt_table_header_selected_sort_direction_desc
{
    background-image:url("##-IMAGEDIR-##TableSortDesc.gif");
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_header_ul li.bmlt_table_header_li span.bmlt_table_header_selected.bmlt_table_header_selected_sort_direction_desc.bmlt_table_mouseover
{
    background-image:url("##-IMAGEDIR-##TableSortDesc_mouseover.gif");
}

/************************************************************/
/*                       The table Data                     */
/************************************************************/

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul li.bmlt_table_data_ul_li
{
    color: black;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul li.bmlt_table_data_ul_li.bmlt_row_even
{
    background-color:rgba(172,202,203,0.75);
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_formats div.bmlt_formats_div span
{
    background-color:#0C71C3;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul ul.bmlt_table_data_ul_li_ul a:hover,
div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul ul.bmlt_table_data_ul_li_ul a:active,
div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_formats div.bmlt_formats_div span.bmlt_table_mouseover
{
    color:#fc5;
}

div.bmlt_table_display_div_theme_GNYR2 ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_comments span
{
    font-style:italic;
}
