/*    
    \version 3.9.1
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
/************************************************************/
/* These are global styles for the table display shortcode. */
/************************************************************/

/************************************************************/
/*                      General Purpose                     */
/************************************************************/
div.bmlt_breaker_div
{
    clear:both;
}

div.bmlt_table_display_div ul,
div.bmlt_table_display_div li,
div.bmlt_table_display_div ul li,
div.bmlt_table_display_div ul.bmlt_table_header_weekday_list,
div.bmlt_table_display_div ul.bmlt_table_header_weekday_list li
div.bmlt_table_display_div ul.bmlt_table_header_ul,
div.bmlt_table_display_div ul.bmlt_table_header_ul li,
div.bmlt_table_display_div ul.bmlt_table_data_ul,
div.bmlt_table_display_div ul.bmlt_table_data_ul li
{
    list-style-type:none;
    list-style-position:outside;
}

/************************************************************/
/*                 The overall container div                */
/************************************************************/
div.bmlt_table_display_div
{
    clear:both;
    float:none;
    width:100%;
    display:table;
    margin:0;
    padding:0;
    font-size:small;
    font-family:Helvetica, Arial, San-Serif;
    vertical-align:top;
}

/************************************************************/
/*      The list (ul) at the top, with the weekdays.        */
/************************************************************/

div.bmlt_table_display_div ul.bmlt_table_header_weekday_list
{
    width:100%;
    display:block;
    clear:both;
    float:none;
    margin:0;
    padding:0;
}

div.bmlt_table_display_div ul.bmlt_table_header_weekday_list li.bmlt_table_header_weekday_list_element
{
    background-image:none;
    width:14.28%;
    line-height:2em;
    height:2em;
    text-align:center;
    vertical-align: middle;
    overflow:hidden;
    cursor:pointer;
    display:block;
    float:left;
    margin:0;
    padding: 0;
    margin-left:-1px;
    margin-right:-1px;
    margin-bottom:0;
    border:1px solid;
    border-bottom:none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-top-left-radius: 0.5em;
    -moz-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list li span.bmlt_table_weekday_span
{
    display:block;
    width:auto;
    font-weight:bold;
    font-size:larger;
    margin-left:0;
    margin-right:0;
    border:none;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list img
{
    height:50%;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    display:none;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list li.is_loading img
{
    display: inline-block;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list li.is_loading span
{
    display:none;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list li.is_selected img
{
    display:none;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list li.is_selected span
{
    display: block;
    cursor:default;
}

/************************************************************/
/*                      The data table                      */
/************************************************************/
div.bmlt_table_display_div div.bmlt_table_div
{
    width: 100%;
    margin:0;
    padding:0;
}

/************************************************************/
/*                      The table header                    */
/************************************************************/
div.bmlt_table_display_div ul.bmlt_table_header_ul
{
    clear:both;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul,
div.bmlt_table_display_div ul.bmlt_table_header_ul li
{
    list-style-type:none;
    list-style-position:outside;
    background-image:none;
    margin:0;
    padding:0;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul
{
    display: block;
    width: 100%;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li
{
    border-top: 2px solid;
    line-height:2em;
    height:2em;
    display: block;
    float: left;
    overflow: hidden;
}

/************************************************************/
/*                  Table Header Size Styles                */
/************************************************************/
div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_time
{
    width: 10%;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_town
{
    width: 15%;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_name
{
    width: 25%;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_address
{
    width: 40%;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_format
{
    width: 10%;
    cursor:default;
}

/************************************************************/
/*                      Inner Span Styling                  */
/************************************************************/
div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li span
{
    display: block;
    width: 100%;
    height: 100%;
}

/************************************************************/
/*        Selected Element Sort Direction Image Style       */
/************************************************************/
div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li span.bmlt_table_header_selected
{
    background-attachment: local;
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size:0.75em;
}

/************************************************************/
/*                 Table Header Border Styles               */
/************************************************************/

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_town
{
    margin-left:-1px;
    margin-right:-1px;
    border-left: 1px solid;
    border-right: 1px solid;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_name
{
    margin-left:-1px;
    margin-right:-1px;
    border-left: 1px solid;
    border-right: 1px solid;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_address
{
    margin-left:-1px;
    margin-right:-1px;
    border-left: 1px solid;
    border-right: 1px solid;
}

div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li_format
{
    margin-left:-1px;
    border-left: 1px solid;
}

/************************************************************/
/*                       The table Data                     */
/************************************************************/
div.bmlt_table_display_div div.bmlt_table_div ul.bmlt_table_data_ul
{
    clear:both;
}

div.bmlt_table_display_div div.bmlt_table_div ul.bmlt_table_data_ul,
div.bmlt_table_display_div div.bmlt_table_div ul.bmlt_table_data_ul li,
div.bmlt_table_display_div div.bmlt_table_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li
{
    display: block;
    list-style-type:none;
    list-style-position:outside;
    background-image:none;
    margin:0;
    padding:0;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li
{
    background-image:none;
    width: 100%;
    display: block;
    float:left;
    padding-top:0.125em;
    padding-bottom:0.125em;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li span.bmlt_table_data_ul_li_ul_li_span
{
    display:block;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_time span
{
    padding-right: 0.25em;
    text-align: right;
}

div.bmlt_table_display_div li.bmlt_table_data_ul_no_meetings_li
{
    width: 100%;
}

div.bmlt_table_display_div li.bmlt_table_data_ul_no_meetings_li span.bmlt_table_no_meetings_span
{
    display:block;
    width: 100%;
    text-align: center;
    font-size:larger;
}

/************************************************************/
/*                   Table Data Size Styles                 */
/************************************************************/
div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_time
{
    width: 10%;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_town
{
    width: 15%;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_name
{
    width: 25%;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_address
{
    width: 40%;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_formats
{
    width: 10%;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li
{
    line-height:2em;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_comments span
{
    padding-left: 4vw;
    clear:both;
}

div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_formats div.bmlt_formats_div span
{
    display:table;
    float:right;
    height:3em;
    width:3em;
    line-height:3em;
    vertical-align:middle;
    text-align:center;
    border: 0px;
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    font-size:smaller;
}
