/*    

    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class

    \version 3.9.1
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        .bmlt_nouveau_clear_both
{
    clear:both;
    float:none;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_spec_div
{
    display:table;
    width:100%;
    background-color:#600;
    padding:0px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_div
{
    background-color:#600;
    padding:8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_breaker_div
{
    clear:both;
    float:none;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_map_div
{
    margin-left:0;
    margin-right:0;
    height:400px;
    border-left:4px solid #600;
    border-right:4px solid #600;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_text_div
{
    clear:both;
    text-align:center;
    margin:0px;
    padding:0px;
    padding-top:8px;
    background-color:#ccc;
    border-left:4px solid #600;
    border-right:4px solid #600;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_text_inner_div
{
    margin:0px;
    padding:0px;
    margin-right:auto;
    margin-left:auto;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_text_item_div
{
    float:left;
    height:20px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_text_input,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_text_input_empty
{
    width: 500px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_text_input
{
    color:black;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_text_input_empty
{
    color:#999;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_text_go_button_div
{
    width: 100px;
    text-align:center;
    vertical-align:middle;
    float:left;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a:visited
{
    color: black;
    background-color:#ccc;
    text-decoration:none;
    cursor:default;
    display:block;
    margin:0px;
    padding:1px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    vertical-align:middle;
    font-size:small;
    font-weight:bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a:visited
{
    border:1px solid black;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a:visited
{
    border:1px solid #ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a:visited
{
    width:5em;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a:visited
{
    margin:4px;
    margin-left:auto;
    margin-right:auto;
    width:25em;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_text_go_button_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_go_button_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_location_button_a:active
{
    background-color:#600;
    color:#ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_button_disabled,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_button_disabled:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_button_disabled:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_button_disabled:hover
{
    color: #600;
    background-color:#eee;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_text_checkbox_div
{
    clear:both;
    text-align:left;
    padding-top:8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_text_loc_checkbox
{
    display:block;
    width:16px;
    height:16px;
    float:left;
    margin:auto;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        label.bmlt_nouveau_text_checkbox_label
{
    margin-left:8px;
    vertical-align:middle;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_map_options_div
{
    text-align:center;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        select.bmlt_nouveau_advanced_map_popup_select
{
    margin-left:4px;
    margin-right:4px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_advanced_formats_element_span
{
    display:block;
    float:left;
    padding:2px;
    cursor: help;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_content_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_formats_content_div
{
    text-align:center;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_content_inner_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_formats_content_inner_div
{
    display:table;
    margin-left:auto;
    margin-right:auto;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_content_one_weekday_enclosure_div
{
    width:130px;
    float:left;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_format_content_one_format_enclosure_div
{
    width:60px;
    float:left;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_advanced_weekdays_checkbox,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_advanced_format_checkbox,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        input.bmlt_nouveau_advanced_service_bodies_checkbox
{
    margin-top:4px;
    display:block;
    float:left;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        label.bmlt_nouveau_advanced_weekdays_label,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        label.bmlt_nouveau_advanced_format_label
{
    display:block;
    float:left;
    margin-left:4px;
    font-weight:bold;
    font-size:large;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_service_bodies_content_div
{
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        dl.bmlt_nouveau_advanced_service_bodies_dl
{
    margin-left:1.5em;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        dt.bmlt_nouveau_advanced_service_bodies_dt
{
    margin-left:1.5em;
    clear:both;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        dd.bmlt_nouveau_advanced_service_bodies_container_dd
{
    margin-left:1.5em;
    clear:both;
    margin-bottom:8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_service_bodies_checkbox_wrapper_div
{
    clear:both;
    float:left;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        label.bmlt_nouveau_advanced_service_bodies_label,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        label.bmlt_nouveau_advanced_service_bodies_container_label
{
    font-size:large;
    float:left;
    margin-left:4px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        label.bmlt_nouveau_advanced_service_bodies_container_label
{
    font-weight:bold;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_map_disclosure_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_list_disclosure_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_switcher_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_header_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_formats_header_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_service_bodies_header_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_switcher_div
{
    background-color:#600;
    padding-bottom:2px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_display_text_div
{
    background-color:#600;
    padding-bottom:2px;
    text-align:center;
    font-size:large;
    font-weight:bold;
    color:#ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_section_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_formats_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_service_bodies_div
{
    background-color:#600;
    padding:4px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_map_inner_container_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_list_container_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_content_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_formats_content_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_service_bodies_content_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_map_options_div
{
    margin-top:4px;
    border:3px solid #600;
    padding:2px;
    background-color:#ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_satellite_meeting_map_link,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_satellite_meeting_map_link:visited
{
    color:#99f;
    text-decoration:underline;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_satellite_meeting_map_link:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_satellite_meeting_map_link:active
{
    color:#f96;
    text-decoration:none;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:visited
{
    font-size: large;
    font-weight:bold;
    display:block;
    height:20px;
    background-color:#600;
    color:#99f;
    text-decoration:underline;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:hover
{
    color:#f96;
    text-decoration:none;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_a:visited
{
    text-align:center;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:visited
{
    text-align:left;
    padding-left:20px;
    background-repeat:no-repeat;
    background-position:2px center;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:visited
{
    background-image:url(##-IMAGEDIR-##/invisible_disclosure.gif);
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_a:active
{
    background-image:url(##-IMAGEDIR-##/invisible_disclosure_mouseover.gif);
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_open_a:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_open_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_open_a:visited
{
    background-image:url(##-IMAGEDIR-##/visible_disclosure.gif);
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_switch_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_weekdays_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_formats_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_advanced_service_bodies_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_disclosure_open_a:active,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_open_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_map_disclosure_open_a:active
{
    background-image:url(##-IMAGEDIR-##/visible_disclosure_mouseover.gif);
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_map_options_div
{
    padding:8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_map_div
{
    height: 400px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        table.bmlt_nouveau_search_results_list_table
{
    font-size:small;
    width:100%;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_header_td
{
    font-weight:bold;
    vertical-align:top;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tbody.bmlt_nouveau_search_results_list_tbody
{
    vertical-align:top;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tr.bmlt_nouveau_search_results_list_body_tr_even td
{
    background-color:#eee;
    color: black;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tr.bmlt_nouveau_search_results_list_body_tr_odd td
{
    background-color:none;
    color: black;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_body_td
{
    padding:2px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_search_results_list_town_name_town_span
{
    display:block;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_search_results_list_town_name_borough_span
{
    display:block;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_search_results_list_town_name_neighborhood_span
{
    display:block;
    font-style:italic;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_list_start_time_div
{
    white-space: nowrap;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tr.bmlt_nouveau_search_results_list_body_tr_even_multi td
{
    background-color:#933;
    color: #ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tr.bmlt_nouveau_search_results_list_body_tr_odd_multi td
{
    background-color:#c66;
    color: #ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tr.bmlt_nouveau_search_results_list_body_tr_even_single td
{
    background-color:#339;
    color: #ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        tr.bmlt_nouveau_search_results_list_body_tr_odd_single td
{
    background-color:#66c;
    color: #ccc;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_throbber_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_div
{
    position:absolute;
    margin:0;
    padding:0;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_throbber_div
{
    z-index:100001;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_div
{
    z-index:99999;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_throbber_mask_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_mask_div
{
    display:none;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_mask_div_displayed
{
    background: rgba(0, 0, 0, 0.4);
    display:block;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_throbber_inner_container_div
{
    position:absolute;
    margin:0;
    padding:0;
    margin-top:-50px;
    margin-left:-50px;
    height: 100px;
    width: 100px;
    top:50%;
    left:50%;
    background-color:#ccc;
    border:2px solid #600;
    text-align:center;
    vertical-align:middle;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_inner_container_div
{
    position:absolute;
    margin:0;
    padding:4px;
    width:80%;
    margin-left:-40%;
    top: 5%;
    left:50%;
    background-color:#ccc;
    border:2px solid #600;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_details_closer_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_details_closer_a:visited
{
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url(##-IMAGEDIR-##/Closer.png);
    display:block;
    position:absolute;
    margin:0;
    padding:0;
    height:24px;
    width:24px;
    top: 5%;
    left:90%;
    margin-top:-12px;
    margin-left:-4px;
    z-index:100000;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_map_container_div
{
    margin-left:auto;
    margin-right:auto;
    height:416px;
    text-align:center;
    margin:8px;
    padding:8px;
    background-color:#ccc;
    border:2px solid #600;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_map_div
{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_single_meeting_name_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_single_meeting_location_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_single_meeting_time_div
{
    background-color:#600;
    color:#ccc;
    text-align:center;
    font-weight:bold;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_single_meeting_time_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_single_meeting_location_div
{
    padding-top:2px;
    padding-bottom:2px;
    font-size:small;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_single_meeting_name_div
{
    padding-top:4px;
    padding-bottom:4px;
    font-size:x-large;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_body_td_more_a,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_body_td_more_a:visited
{
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url(##-IMAGEDIR-##/MoreDetails.png);
    display:block;
    height:24px;
    width:24px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_service_body_div
{
    text-align:center;
    margin-bottom:8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_details_service_body_label_span
{
    font-weight:bold;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_details_service_body_contents_span
{
    padding-left:4px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_comments_div
{
    font-style:italic;
    padding:8px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_format_div
{
    background-color:#600;
    color:#ccc;
    font-size:large;
    text-align:center;
    padding:4px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_details_formats_code_span
{
    display:block;
    float:left;
    width: 2em;
    font-weight:bold;
    font-size:large;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_details_formats_name_span
{
    display:block;
    float:left;
    font-size:large;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        dd.bmlt_nouveau_details_formats_description_dd
{
    clear:both;
    margin-left:20px;
    margin-bottom:8px;
    font-style:italic;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_body_td_more_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_search_results_list_body_td_more_a:active
{
    background-image:url(##-IMAGEDIR-##/MoreDetails_mouseover.png);
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_details_closer_a:hover,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_details_closer_a:active
{
    background-image:url(##-IMAGEDIR-##/Closer_mouseover.png);
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        img.bmlt_nouveau_throbber_img
{
    display:block;
    margin:10px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouvea_duration_container_div
{
    height:20px;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_clock_div
{
    float:left;
    height:18px;
    width:18px;
    padding:1px;
    cursor: help;
}

div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_empty_name,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_search_results_list_body_td_more_a_span,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_throbber_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_details_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_header_td_nation,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_header_td_state,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_header_td_county,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_body_td_nation,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_body_td_state,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        td.bmlt_nouveau_search_results_list_body_td_county,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_list_town_name_county_has_borough_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        span.bmlt_nouveau_search_results_list_town_name_town_has_borough_span,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        .bmlt_nouveau_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.text_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.map_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.advanced_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.text_go_a_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_spec_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_results_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_spec_switch_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_map_options_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_weekdays_content_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_formats_content_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_service_bodies_content_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_map_container_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_list_container_div_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_results_switch_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_search_spec_switch_hidden,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a_selected,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        a.bmlt_nouveau_switch_a_selected:visited,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_search_results_print_only_display_text_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_location_services_hidden_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_advanced_marker_button_hidden_div,
div#bmlt_page_items.bmlt_page_items
    div.bmlt_nouveau_div
        div.bmlt_nouveau_location_services_panel_date_button_hidden_div
{
    display:none;
}

@media print
{
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div_details_displayed
            div.bmlt_nouveau_details_mask_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div_details_displayed
            div.bmlt_nouveau_search_results_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_spec_switch_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_results_map_disclosure_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_results_list_disclosure_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_results_display_text_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_details_mask_div_displayed
    {
        display:none;
    }
    
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_results_display_text_div
    {
        display:none;
    }
    
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_results_print_only_display_text_div
    {
        display:block;
    }
    
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_single_meeting_wrapper_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_single_meeting_name_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_single_meeting_time_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_single_meeting_location_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_details_format_div,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            tr.bmlt_nouveau_search_results_list_body_tr_even_multi td,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            tr.bmlt_nouveau_search_results_list_body_tr_odd_multi td,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            tr.bmlt_nouveau_search_results_list_body_tr_even_single td,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            tr.bmlt_nouveau_search_results_list_body_tr_odd_single td
    {
        background-color:auto !important;
        color:black !important;
    }
    
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            div.bmlt_nouveau_search_results_print_only_display_text_div
    {
        font-size:large;
        font-weight:bold;
        text-align:center;
        color:black;
    }
    
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            a,
    div#bmlt_page_items.bmlt_page_items
        div.bmlt_nouveau_div
            a:visited
    {
        color:black !important;
        text-decoration:none !important;
    }
}